@charset "UTF-8";

/*
em HTMl é id = em CSS é #(só pode um elemento)
em HTML é class = em CSS é .(pode vários elementos)
*/

body{
    background-color: rgb(83, 233, 233);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
color: rgb(2, 56, 56);
}

h1#principal{
    text-align: center;
    background-color: crimson;
}
h2{
    color: rgb(3, 97, 109);
}

.basico{
    background-color: rgb(173, 145, 20);
    color: white;
    font-weight: bold;
}

.intermediario{
    background-color: rgb(157, 255, 0);
    color: rgb(253, 0, 219);
}

.avancado{
    background-color: black;
    color: rgba(238, 255, 0, 0.829);
}

.destaque{
background-color: darkred;    
}
    