@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #191919;
    display: flex; /* Força todos os items a ficarem lado a lado. */
    min-height: 100vh;
    align-items: center;
    justify-content: center; /* alinha exatamente no meio junto do align-items. */
    color: white;
    flex-direction: column; /* Para ficar um em cima do outro e não um ao lado do outro. */
}

canvas{
    background-color: #111;
}