@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin-top: 70px;
    font-size: 1.5em;
    text-align: center;
}

main{
    margin-top:100px;
}

div#imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

div#form{
    text-align: center;
}

.form2{
    width: 80px;
    padding: 5px;
    margin: 5px;
}
    
